@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #282828;
  font-family: 'Montserrat', sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.big-title {
  font-size: 64px;
  font-weight: 900;
}

@media (max-width: 1230px) {
  .big-title {
    font-size: calc(24px + (40) * ((100vw - 320px) / (910)));
  }
}

/*------------------------------------------------*/
.header {
  height: 95px;
  background-color: #fff;
  width: 100%;
  z-index: 4;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  top: 0;
  border-bottom: 1px solid #b0b0b0;
}

@media (max-width: 500px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media (max-width: 800px) {
  .header__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.header__logo .logo span {
  color: #808080;
  display: block;
  margin-top: 7px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.1;
  font-size: 12px;
}

.header__logo .logo img {
  width: 248px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

@media (max-width: 1230px) {
  .header__logo .logo img {
    width: calc(220px + (28) * ((100vw - 320px) / (910)));
  }
}

.vetical-line {
  width: 1px;
  height: 60px;
  background-color: #cccccc;
}

@media (max-width: 1070px) {
  .vetical-line {
    display: none;
  }
}

.header__job-graphic {
  position: relative;
}

.header__job-graphic span {
  display: block;
}

.header__job-graphic span:not(:last-child) {
  margin-bottom: 3px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts a, .header__contacts span, .header__contacts img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts a {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #282828;
}

@media ((max-width: 1070px)) {
  .header__contacts {
    margin-right: 45px;
  }
}

@media (max-width: 750px) {
  .header__contacts {
    margin-right: 10px;
  }
}

@media (max-width: 670px) {
  .header__contacts {
    font-size: 12px;
  }
}

@media (max-width: 435px) {
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.header__contacts-wa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.header__whatsap {
  color: #3E7A4A;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.header__contacts-tel1, .header__contacts-tel2 {
  text-decoration: underline;
  display: block;
}

.header__contacts-tel1 {
  margin-bottom: 10px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

@media ((max-width: 1070px)) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
}

.menu__btn {
  width: 150px;
  height: 40px;
  border: 1px solid #2F6A22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background .3s;
  transition: background .3s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media (any-hover: hover) {
  .menu__btn:hover {
    background-color: #2F6A22;
    color: #fff !important;
  }
}

.burger {
  position: absolute;
  top: 32px;
  right: 15px;
  z-index: 6;
  width: 30px;
  height: 30px;
  display: none;
  cursor: pointer;
}

@media ((max-width: 1070px)) {
  .burger {
    display: block !important;
  }
}

@media (max-width: 500px) {
  .burger {
    top: 24px;
  }
}

.burger span {
  width: 30px;
  height: 2px;
  background-color: #000;
  position: absolute;
  pointer-events: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.burger span:nth-child(1).active {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 7px;
}

.burger span:nth-child(2) {
  top: 7px;
}

.burger span:nth-child(2).active {
  opacity: 0;
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}

.burger span:nth-child(3) {
  top: 14px;
}

.burger span:nth-child(3).active {
  top: 7px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu {
  margin: 0 auto;
  display: block;
  position: relative;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.triangle {
  width: 0;
  height: 0;
  top: 6px;
  right: -19px;
  border-style: solid;
  border-width: 8px 7px 0 7px;
  position: absolute;
  border-color: #5a5a5a transparent transparent transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.triangle.active {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

@media ((max-width: 1070px)) {
  .menu {
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
    width: 400px;
    background-color: #fff;
    padding: 20px 15px 20px 15px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    height: 100vh;
    overflow: hidden;
  }
  .menu.active {
    -webkit-transform: translateX(0);
  }
  .menu:first-child.active {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

@media ((max-width: 1070px)) {
  .menu {
    width: 100%;
  }
}

@media (any-hover: hover) {
  .menu__item:hover .sub-menu {
    padding: 20px 10px;
    max-height: 700px;
  }
  .menu__item:hover .triangle {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@media (any-hover: hover) {
  .menu__item a:hover {
    color: #858585;
  }
}

.btn {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  height: 50px;
  background-color: transparent;
  -webkit-transition: background .3s;
  transition: background .3s;
  padding: 3px 10px;
}

/*SECTION MAIN========================*/
.main {
  width: 100%;
  padding-top: 139px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1230px) {
  .main {
    padding-top: calc(110px + (29) * ((100vw - 320px) / (910)));
  }
}

.main__bg-img-wrp {
  position: absolute;
  right: 35%;
  bottom: 6%;
  max-width: 372px;
  max-height: 362px;
}

@media (max-width: 1230px) {
  .main__bg-img-wrp {
    max-width: calc(200px + (172) * ((100vw - 320px) / (910)));
  }
}

@media (max-width: 1230px) {
  .main__bg-img-wrp {
    max-height: calc(180px + (182) * ((100vw - 320px) / (910)));
  }
}

.main__bg-img-wrp img {
  width: 100%;
  height: auto;
}

.main__shavings-img-wrp {
  position: absolute;
  top: 70%;
  left: 0;
}

.main__shavings-img-wrp img {
  width: 100px;
}

@media (max-width: 1230px) {
  .main__shavings-img-wrp img {
    width: calc(70px + (30) * ((100vw - 850px) / (380)));
  }
}

@media (max-width: 850px) {
  .main__shavings-img-wrp img {
    display: none;
  }
}

.main__cont-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  position: relative;
  z-index: 1;
}

@media (max-width: 620px) {
  .main__cont-wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 620px) {
  .main__title br {
    display: none;
  }
}

.main__sub-title {
  font-size: 28px;
  font-weight: 700;
  margin-top: 15px;
  line-height: 1.2;
}

@media (max-width: 1230px) {
  .main__sub-title {
    font-size: calc(16px + (12) * ((100vw - 320px) / (910)));
  }
}

.main__btn {
  width: 310px;
  background-color: #FFA41E;
  margin-top: 30px;
  color: #fff;
  -webkit-box-shadow: 0px 5px 13px 1px rgba(255, 177, 61, 0.69);
          box-shadow: 0px 5px 13px 1px rgba(255, 177, 61, 0.69);
}

@media (max-width: 1230px) {
  .main__btn {
    width: calc(300px + (10) * ((100vw - 320px) / (910)));
  }
}

@media (max-width: 1230px) {
  .main__btn {
    height: calc(45px + (5) * ((100vw - 320px) / (910)));
  }
}

@media (any-hover: hover) {
  .main__btn:hover {
    background-color: #e99517;
  }
}

@media (max-width: 330px) {
  .main__btn {
    width: 100%;
  }
}

.main__img-wrp {
  max-width: 515px;
  max-height: 510px;
}

@media (max-width: 1230px) {
  .main__img-wrp {
    max-width: calc(200px + (315) * ((100vw - 320px) / (910)));
  }
}

.main__img-wrp img {
  width: 100%;
  height: 100%;
}

/*MAIN END------------------------------------------*/
.small-title {
  font-size: 36px;
  font-weight: 800;
}

@media (max-width: 1230px) {
  .small-title {
    font-size: calc(20px + (16) * ((100vw - 320px) / (910)));
  }
}

/*GOODS SECTION------------------------------------------*/
.goods {
  padding: 50px 0;
  position: relative;
  width: 100%;
}

@media (max-width: 1230px) {
  .goods {
    padding-top: calc(10px + (40) * ((100vw - 320px) / (910)));
  }
}

.goods__img-strujka {
  position: absolute;
  right: 0;
  width: 99px;
  top: -70px;
}

@media (max-width: 1230px) {
  .goods__img-strujka {
    width: calc(70px + (29) * ((100vw - 850px) / (380)));
  }
}

@media (max-width: 850px) {
  .goods__img-strujka {
    display: none;
  }
}

.goods__img-strujka3 {
  position: absolute;
  left: 0;
  width: 120px;
  bottom: 200px;
}

@media (max-width: 1230px) {
  .goods__img-strujka3 {
    width: calc(100px + (20) * ((100vw - 850px) / (380)));
  }
}

@media (max-width: 850px) {
  .goods__img-strujka3 {
    display: none;
  }
}

.goods__pilomat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

@media (max-width: 775px) {
  .goods__pilomat {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.goods__pilomat-img {
  max-width: 366px;
}

@media (max-width: 1230px) {
  .goods__pilomat-img {
    width: calc(200px + (166) * ((100vw - 320px) / (910)));
  }
}

.goods__right {
  padding-top: 20px;
}

@media (max-width: 1230px) {
  .goods__right {
    padding-top: calc(5px + (15) * ((100vw - 320px) / (910)));
  }
}

.goods__gost {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #808080;
  margin-top: 8px;
}

.goods__goods-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 75px;
          column-gap: 75px;
  margin-top: 25px;
  margin-bottom: 50px;
}

@media (max-width: 1230px) {
  .goods__goods-wrp {
    margin-top: calc(15px + (10) * ((100vw - 320px) / (910)));
  }
}

@media (max-width: 1230px) {
  .goods__goods-wrp {
    margin-bottom: calc(0px + (50) * ((100vw - 320px) / (910)));
  }
}

@media (max-width: 500px) {
  .goods__goods-wrp {
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
}

@media (max-width: 430px) {
  .goods__goods-wrp {
    -webkit-column-gap: 15px;
            column-gap: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 380px) {
  .goods__goods-wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.goods__name-and-size {
  margin-bottom: 18px;
}

.goods__name {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

@media (max-width: 500px) {
  .goods__name {
    font-size: 16px;
  }
}

.goods__size {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #808080;
  display: block;
}

.goods__comment {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #808080;
  max-width: 358px;
  line-height: 1.5;
}

.goods__btn-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 420px) {
  .goods__btn-wrp {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.goods__btn {
  background-color: #fff;
  border: 1px solid #FFA41E;
  color: #FFA41E;
  width: 325px;
}

@media (any-hover: hover) {
  .goods__btn:hover {
    background-color: #FFA41E;
    color: #fff;
  }
}

@media (max-width: 370px) {
  .goods__btn {
    width: 100%;
  }
}

.goods .excel-img {
  display: block;
}

@media (max-width: 420px) {
  .goods .excel-img {
    display: none;
  }
}

.goods-pilomat2-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 110px;
}

@media (max-width: 1230px) {
  .goods-pilomat2-wrp {
    margin-top: calc(45px + (65) * ((100vw - 320px) / (910)));
  }
}

@media (max-width: 610px) {
  .goods-pilomat2-wrp {
    display: block;
  }
}

.goods-pilomat2__list-item {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: #808080;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.goods-pilomat2__list-item::before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #808080;
  margin-right: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5px;
          flex: 0 0 5px;
  display: block;
}

/*GOODS END------------------------------------------*/
/*BANNER SECTION------------------------------------------*/
.banner {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 50px;
}

@media (max-width: 1230px) {
  .banner {
    margin-top: calc(5px + (75) * ((100vw - 320px) / (910)));
  }
}

.banner__container {
  position: relative;
}

.banner__cont-wrp {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  position: relative;
  padding: 60px 0px 60px 0;
  padding-left: 35px;
  padding-right: 35px;
  min-height: 483px;
}

@media (max-width: 1230px) {
  .banner__cont-wrp {
    padding-top: calc(25px + (35) * ((100vw - 320px) / (910)));
  }
}

@media (max-width: 1230px) {
  .banner__cont-wrp {
    padding-bottom: calc(25px + (35) * ((100vw - 320px) / (910)));
  }
}

@media (max-width: 1230px) {
  .banner__cont-wrp {
    padding-left: calc(15px + (20) * ((100vw - 320px) / (910)));
  }
}

@media (max-width: 1230px) {
  .banner__cont-wrp {
    padding-right: calc(15px + (20) * ((100vw - 320px) / (910)));
  }
}

@media (max-width: 1230px) {
  .banner__cont-wrp {
    min-height: calc(250px + (233) * ((100vw - 320px) / (910)));
  }
}

@media (max-width: 635px) {
  .banner__cont-wrp {
    background-position: center 50%;
  }
}

.banner__branch-img {
  position: absolute;
  left: -103px;
  top: -81px;
  -webkit-transform: rotate(-145deg);
          transform: rotate(-145deg);
}

@media (max-width: 1300px) {
  .banner__branch-img {
    display: none;
  }
}

.banner__small-img {
  position: absolute;
  right: -9%;
  bottom: -18%;
  width: 223px;
  z-index: 3;
}

@media (max-width: 1230px) {
  .banner__small-img {
    width: calc(70px + (153) * ((100vw - 320px) / (910)));
  }
}

@media (max-width: 490px) {
  .banner__small-img {
    display: none;
  }
}

.banner__title {
  color: #fff;
}

.banner__sub-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  margin-top: 15px;
  max-width: 585px;
  line-height: 116.666667%;
  /* 28/24 */
}

@media (max-width: 1230px) {
  .banner__sub-title {
    font-size: calc(18px + (6) * ((100vw - 320px) / (910)));
  }
}

.banner__btn {
  margin-top: 30px;
  background-color: #FFA41E;
  color: #fff;
  width: 395px;
  -webkit-box-shadow: 0px 5px 15px 3px rgba(255, 177, 61, 0.58);
          box-shadow: 0px 5px 15px 3px rgba(255, 177, 61, 0.58);
}

@media (max-width: 1230px) {
  .banner__btn {
    margin-top: calc(15px + (15) * ((100vw - 320px) / (910)));
  }
}

.banner__btn:hover {
  background-color: #e99517;
}

@media (max-width: 460px) {
  .banner__btn {
    width: 100%;
    height: 45px;
  }
}

/*BANNER END------------------------------------------*/
/*ABOUT SECTION---------------------------------------*/
.about {
  margin: 90px 0 50px 0;
  position: relative;
}

@media (max-width: 1230px) {
  .about {
    margin-top: calc(20px + (70) * ((100vw - 320px) / (910)));
  }
}

.about__el-img {
  position: absolute;
  right: 0;
  bottom: -46px;
  width: 170px;
  z-index: -1;
}

@media (max-width: 1230px) {
  .about__el-img {
    width: calc(80px + (90) * ((100vw - 320px) / (910)));
  }
}

.about__cont-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 35px;
          column-gap: 35px;
}

@media (max-width: 1020px) {
  .about__cont-wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 30px;
  }
}

.about__cont-right {
  max-width: 532px;
}

@media (max-width: 1170px) {
  .about__cont-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

.about li {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 137.5%;
  /* 22/16 */
}

.about__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 114.285714%;
  /* 32/28 */
  margin-bottom: 25px;
}

@media (max-width: 1020px) {
  .about__title {
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .about__title {
    font-size: 20px;
  }
}

.about__text1, .about__text2, .about__text3 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 137.5%;
  /* 22/16 */
}

.about__text2 {
  margin-top: 30px;
}

@media (max-width: 1020px) {
  .about__text2 {
    margin-top: 10px;
  }
}

.about__h3 {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.about__text3 {
  height: 0;
  overflow: hidden;
  margin-top: 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 1020px) {
  .about__text3 {
    margin-top: 10px;
  }
}

.about__read-more-btn, .about__read-hide-btn {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border-bottom: 1px dashed #000;
  cursor: pointer;
  -webkit-transition: all .7s linear 0s;
  transition: all .7s linear 0s;
}

.about__read-more-btn.active {
  display: none;
}

.about__read-hide-btn {
  display: none;
}

.about__read-hide-btn.active {
  display: inline-block;
  margin-top: 10px;
}

/*swiper=============================*/
.swiper {
  width: 540px;
  height: 360px;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 1230px) {
  .swiper {
    height: calc(270px + (90) * ((100vw - 320px) / (910)));
  }
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fff;
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #282828;
  border: 2px solid #fff;
}

/*END ABOUT---------------------------------------*/
/*VIDEO SECTION------------------------------*/
.video {
  padding-top: 80px;
  padding-bottom: 50px;
}

@media (max-width: 1230px) {
  .video {
    padding-top: calc(5px + (75) * ((100vw - 320px) / (910)));
  }
}

.video__title {
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 1230px) {
  .video__title {
    font-size: calc(22px + (10) * ((100vw - 320px) / (910)));
  }
}

.video__wrp {
  width: 720px;
  height: 405px;
  margin: 0 auto;
}

@media (max-width: 1230px) {
  .video__wrp {
    height: calc(230px + (175) * ((100vw - 320px) / (910)));
  }
}

.video__wrp iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 755px) {
  .video__wrp {
    width: 100%;
  }
}

/*END VIDEO------------------*/
/*ADVANTAGES SECTION---------------------------------------*/
.advantages {
  margin-top: 90px;
  margin-bottom: 50px;
}

@media (max-width: 1230px) {
  .advantages {
    margin-top: calc(10px + (80) * ((100vw - 320px) / (910)));
  }
}

.advantages__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 850px;
}

@media (max-width: 1230px) {
  .advantages__wrp {
    row-gap: calc(30px + (20) * ((100vw - 320px) / (910)));
  }
}

@media (max-width: 865px) {
  .advantages__wrp {
    width: 100%;
  }
}

.advantages__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31%;
          flex: 0 0 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 850px) {
  .advantages__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
}

@media (max-width: 595px) {
  .advantages__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.advantages__img {
  display: block;
  margin: 0 auto;
}

.advantages__item-title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-top: 10px;
}

.advantages__item-text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: 5px;
}

/* END ADVANTAGES---------------------------------------*/
.footer {
  padding-top: 70px;
  padding-bottom: 50px;
}

@media (max-width: 1230px) {
  .footer {
    padding-top: calc(0px + (70) * ((100vw - 320px) / (910)));
  }
}

.footer__cont-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

@media ((max-width: 1070px)) {
  .footer__cont-wrp {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 700px) {
  .footer__cont-wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__left {
  max-width: 370px;
}

@media ((max-width: 1070px)) {
  .footer__left {
    max-width: 300px;
  }
}

@media (max-width: 700px) {
  .footer__left {
    max-width: 100%;
  }
}

@media (max-width: 700px) {
  .footer__form-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 15px;
            column-gap: 15px;
  }
}

@media (max-width: 550px) {
  .footer__form-wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__form {
  width: 100%;
  min-height: 500px;
  -webkit-box-shadow: 0px 4px 16px 5px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 4px 16px 5px rgba(0, 0, 0, 0.07);
  padding: 40px;
  margin-top: 20px;
}

@media ((max-width: 1070px)) {
  .footer__form {
    padding: 20px 15px;
    min-height: 430px;
  }
}

@media (max-width: 1230px) {
  .footer__form-title {
    font-size: calc(20px + (4) * ((100vw - 320px) / (910)));
  }
}

.footer__map-wrp {
  max-width: 775px;
}

.footer__map-wrp:not(:last-child) {
  margin-bottom: 20px;
}

.footer__title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}

.footer__text {
  line-height: 1.3;
  margin-bottom: 10px;
  font-size: 16px;
}

.footer__map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  gap: 20px;
}

@media ((max-width: 1070px)) {
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 700px) {
  .footer__contacts {
    width: 70%;
  }
}

@media (max-width: 550px) {
  .footer__contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.footer__contacts a {
  display: inline-block;
  color: #282828;
}

@media (max-width: 1075px) {
  .footer__contacts a {
    display: block;
  }
}

.footer__contacts span {
  display: inline-block;
}

@media (max-width: 1075px) {
  .footer__contacts span {
    display: block;
  }
}

.footer__contacts-left {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

@media (max-width: 1075px) {
  .footer__contacts-left {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

.footer__call-to-ac {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #808080;
  margin-bottom: 7px;
}

.footer__tel {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.footer__tel:not(:last-child) {
  margin-bottom: 10px;
}

.footer__mail {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 7px;
}

.footer__messend-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.footer__we-answ {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #808080;
  line-height: 135.714286%;
  /* 19/14 */
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */