@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #282828;
  font-family: 'Montserrat', sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.big-title {
  font-size: 64px;
  font-weight: 900;
}

@media (max-width: 1230px) {
  .big-title {
    font-size: calc(24px + (40) * ((100vw - 320px) / (910)));
  }
}

/*------------------------------------------------*/
.header {
  height: 95px;
  background-color: #fff;
  width: 100%;
  z-index: 4;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  top: 0;
  border-bottom: 1px solid #b0b0b0;
}

@media (max-width: 500px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media (max-width: 800px) {
  .header__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.header__logo .logo span {
  color: #808080;
  display: block;
  margin-top: 7px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.1;
  font-size: 12px;
}

.header__logo .logo img {
  width: 248px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

@media (max-width: 1230px) {
  .header__logo .logo img {
    width: calc(220px + (28) * ((100vw - 320px) / (910)));
  }
}

.vetical-line {
  width: 1px;
  height: 60px;
  background-color: #cccccc;
}

@media (max-width: 1070px) {
  .vetical-line {
    display: none;
  }
}

.header__job-graphic {
  position: relative;
}

.header__job-graphic span {
  display: block;
}

.header__job-graphic span:not(:last-child) {
  margin-bottom: 3px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts a, .header__contacts span, .header__contacts img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts a {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #282828;
}

@media ((max-width: 1070px)) {
  .header__contacts {
    margin-right: 45px;
  }
}

@media (max-width: 750px) {
  .header__contacts {
    margin-right: 10px;
  }
}

@media (max-width: 670px) {
  .header__contacts {
    font-size: 12px;
  }
}

@media (max-width: 435px) {
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.header__contacts-wa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.header__whatsap {
  color: #3E7A4A;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.header__contacts-tel1, .header__contacts-tel2 {
  text-decoration: underline;
  display: block;
}

.header__contacts-tel1 {
  margin-bottom: 10px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

@media ((max-width: 1070px)) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
}

.menu__btn {
  width: 150px;
  height: 40px;
  border: 1px solid #2F6A22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: background .3s;
  transition: background .3s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media (any-hover: hover) {
  .menu__btn:hover {
    background-color: #2F6A22;
    color: #fff !important;
  }
}

.burger {
  position: absolute;
  top: 32px;
  right: 15px;
  z-index: 6;
  width: 30px;
  height: 30px;
  display: none;
  cursor: pointer;
}

@media ((max-width: 1070px)) {
  .burger {
    display: block !important;
  }
}

@media (max-width: 500px) {
  .burger {
    top: 24px;
  }
}

.burger span {
  width: 30px;
  height: 2px;
  background-color: #000;
  position: absolute;
  pointer-events: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.burger span:nth-child(1).active {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 7px;
}

.burger span:nth-child(2) {
  top: 7px;
}

.burger span:nth-child(2).active {
  opacity: 0;
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}

.burger span:nth-child(3) {
  top: 14px;
}

.burger span:nth-child(3).active {
  top: 7px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu {
  margin: 0 auto;
  display: block;
  position: relative;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.triangle {
  width: 0;
  height: 0;
  top: 6px;
  right: -19px;
  border-style: solid;
  border-width: 8px 7px 0 7px;
  position: absolute;
  border-color: #5a5a5a transparent transparent transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.triangle.active {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

@media ((max-width: 1070px)) {
  .menu {
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
    width: 400px;
    background-color: #fff;
    padding: 20px 15px 20px 15px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    height: 100vh;
    overflow: hidden;
  }
  .menu.active {
    -webkit-transform: translateX(0);
  }
  .menu:first-child.active {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

@media ((max-width: 1070px)) {
  .menu {
    width: 100%;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
  max-width: 100%;
}

@media (max-width: 1070px) {
  .menu__list {
    -webkit-column-gap: 15px;
            column-gap: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
    padding: 20px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 560px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
}

.menu__item a {
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: color .3s;
  transition: color .3s;
  color: #282828;
  text-transform: uppercase;
  position: relative;
  color: #e99517;
}

.sub-menu {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  -webkit-box-shadow: -1px 4px 14px 0px rgba(34, 60, 80, 0.08);
          box-shadow: -1px 4px 14px 0px rgba(34, 60, 80, 0.08);
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 0 10px;
  list-style: none;
}

.sub-menu.active {
  height: auto;
  padding: 20px 10px;
  max-height: 700px;
}

.sub-menu .menu__item {
  margin-bottom: 7px;
  line-height: 1.2;
  border-bottom: 1px solid #b0b0b0;
  padding-bottom: 7px;
  margin-right: 0;
  list-style: none !important;
}

.sub-menu .menu__item::marker {
  display: none !important;
  position: absolute;
  background-color: #fff;
}

.sub-menu .menu__item a {
  font-size: 16px;
}

@media (any-hover: hover) {
  .menu__item:hover .sub-menu {
    padding: 20px 10px;
    max-height: 700px;
  }
  .menu__item:hover .triangle {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@media (any-hover: hover) {
  .menu__item a:hover {
    color: #858585;
  }
}

.btn {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  height: 50px;
  background-color: transparent;
  -webkit-transition: background .3s;
  transition: background .3s;
  padding: 3px 10px;
}

@media (max-width: 1070px) {
  .header-grafic-deskt, .header-contacts-deskt {
    display: none;
  }
}

.header-grafic-mob, .header-contacts-mob {
  display: none;
}

@media (max-width: 1070px) {
  .header-grafic-mob, .header-contacts-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1070px) {
  .header-grafic-mob {
    display: block;
  }
}

@media (max-width: 560px) {
  .header-contacts-mob {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 15px;
  }
}

@media (max-width: 1070px) {
  .click-submenu-desk {
    display: none;
  }
}

@media (max-width: 585px) {
  .click-submenu-desk {
    display: block;
  }
}

.click-submenu-mob {
  display: none;
}

@media (max-width: 1070px) {
  .click-submenu-mob {
    display: block;
  }
}

@media (max-width: 585px) {
  .click-submenu-mob {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */